name: Deploy Fullstack App

on:
  push:
    branches: [ "main" ]

jobs:
  # --- TRABAJO 1: FRONTEND ---
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install and Build Vue
        run: |
          cd Frontend
          npm install
          npm run build # Esto genera la carpeta 'dist'

      - name: Deploy to Server via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./Frontend/dist/
          server-dir: ./public_html/ # Tu ruta en el servidor

  # --- TRABAJO 2: BACKEND ---
  build-backend:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./Backend # IMPORTANTE: apunta a la subcarpeta
          push: true
          tags: ghcr.io/${{ github.repository }}-backend:latest