name: Deploy Fullstack App

on:
  push:
    branches: [ "main" ]

jobs:
  # --- TRABAJO 1: FRONTEND ---
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install and Build Vue
        run: |
          cd Frontend
          npm install
          VITE_API_URL=${{ secrets.VITE_API_URL }} npm run build

      - name: Deploy to Server via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./Frontend/dist/
          server-dir: ./public_html/ # Tu ruta en el servidor

  # --- TRABAJO 2: BACKEND ---
  build-backend:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./Backend # IMPORTANTE: apunta a la subcarpeta
          push: true
          tags: ghcr.io/borgtb/controlasistencia-backend:latest
  # --- TRABAJO 3: ACTUALIZAR SERVIDOR ---
  update-server:
    needs: build-backend # Solo corre si el backend se buildeó bien
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            cd /home/teleasiste/git-action 
            docker compose pull app
            docker compose up -d app
            docker image prune -f # Limpia imágenes viejas para no llenar el disco